<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>{% block title %}Quiz Index{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load static %}
  <link href="{% static 'polls/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'polls/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="blue-grey darken-4">
	{% block navbar %}
	<div class="navbar-fixed">
		<nav class="blue-grey" role="navigation">
			<div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Nuclear Engineering</a>
				<ul class="right hide-on-med-and-down">
					{% if user.is_authenticated %}
					<li><a href="#">My Account</a></li>
					{% else %}
					<li><a href="{% url 'auth_login' %}">Sign in</a></li>
					{% endif %}
				</ul>

				<ul id="nav-mobile" class="side-nav">
					{% if user.is_authenticated %}
					<li><a href="#">My Account</a></li>
					{% else %}
					<li><a href="{% url 'auth_login' %}">Sign in</a></li>
					{% endif %}
				</ul>
				<a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
			</div>
		</nav>
	</div>
	{% endblock navbar %}
	<div class="parallax-container" >	
		<div class="parallax">
			<img src="http://cdn-images-1.medium.com/max/1920/1*IfDD2fBjp_4gP2u86QOs6Q.jpeg" style="display: block; transform: translateX(-50%) translateY(57%);">
		</div>
		<div class="section no-pad-bot" id="banner">
			<div class="container center">
				<a class="btn btn-floating btn-large light-blue"><i class="material-icons">
						{% block header-icon %}{% endblock %}
				</a></i>
			</div>
			<div class="container center">
				<h4 class="white-text">
					{% block header %}{% endblock %}
				</h4>
			</div>
		</div>
	</div>
	{% block content %}{% endblock %}
	
	{% block footer %}
	<footer class="page-footer blue-grey lighten-2 row">
		<div class="container">
			<a class="white-text left">Course Attribution</a>
			<a class="white-text right">Made with Django and Materialize</a>
		</div>
	</footer>
	{% endblock footer %}

	{% block scripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'polls/materialize.js' %}"></script>
  <script src="{% static 'polls/init.js' %}"></script>
	{% endblock scripts %}

  </body>
</html>
