<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
	<title>{% block title %}Quiz Index{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {% load static %}
  <link href="{% static 'polls/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static 'polls/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>

<body class="blue-grey lighten-3">
	{% block navbar %}
  <nav class="blue-grey darken-2" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Nuclear Engineering</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">My Account</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">My Account</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>
	{% endblock navbar %}
	
	<div class="section no-pad-bot" id="banner">
		<div class="container">
			<h3 class="header center deep-orange-text">
				{% block header %}{% endblock %}
			</h3>
		</div>
	</div>
	<div>{% block content %}{% endblock %}</div>
	
	{% block footer %}
	<footer class="page-footer deep-orange">
		<div class="footer-copyright">
			<div class="container">Course Attribution</div>
			<div class="container">Made with Django and Materialize</div>
		</div>
	</footer>
	{% endblock footer %}

	{% block scripts %}
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static 'polls/materialize.js' %}"></script>
  <script src="{% static 'polls/init.js' %}"></script>
	{% endblock scripts %}

  </body>
</html>
